# Node modules
node_modules

#Folder data docker
database/db

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# The development sqlite file
database/*.sqlite

#lock files
package-lock.json
yarn.lock
